################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WordleHelperCS_repo/v17
/WordleHelperCS/.vs/WordleHelperCS
